@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald.light-webfont.woff2') format('woff2'),
         url('../fonts/oswald.light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald.regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald.regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
