@mixin font($font-family, $font-weight, $font-size, $letter-spacing, $color, $text-transform) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $text-transform;
}

$white: #ffffff;
$white-dark: #f7f8f3;
$green-light: #9db791;
